.DS_Store
__pycache__
.mypy_cache
.ruff_cache

.venv
.env
.coverage
*.zip
bak
*.csv
exports/*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override_*.tf
.terraformrc
terraform.rc

# but keep the lockfile
!.terraform.lock.hcl
