name: Deploy AWS Infra

on:
  push:
    branches:
      - main
    paths:
      - "terraform/**"

permissions:
  contents: read    # This is required to checkout the repository
  id-token: write   # This is required for OIDC authentication

jobs:
  deploy-tf:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Build
      run: make build

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME_DEPLOY_TF }}
        aws-region: ${{ vars.AWS_REGION }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Format Check
      working-directory: terraform
      run: terraform fmt -check

    - name: Terraform Init
      working-directory: terraform
      run: terraform init -input=false

    - name: Terraform Validate
      working-directory: terraform
      run: terraform validate

    - name: Terraform Plan
      working-directory: terraform
      run: terraform plan -input=false

    - name: Terraform Apply
      working-directory: terraform
      run: terraform apply -auto-approve -input=false
